{% extends "layout.html" %}
{% block body %}
  <h2>Bestil</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('add_order') }}" method=post class=add-entry>
  <dl>
    <dd>Navn: <input type=text size=30 name=client>
    <table border="1">
    <tr>
      <td>Id</td>
      <td>Titel</td>
      <td>Info</td>
      <td>Bestil</td>
    </tr>
    {% for product in products %}
    <tr>
      <td>{{ product.Id }}</td>
      <td>{{ product.Title }}</td>
      <td>{{ product.Text }}</td>
      <td><input type=submit name=order value={{ product.Id }}></td>
    </tr>
    {% endfor %}
    </table>
  </dl>
{% endblock %}
